/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* Pozicionálás */

.profile-card {
  width: 600px;
  height: 60%;
  max-width: calc(100vw - 10px);
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Times New Roman";
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 80%;
  margin: 0 auto;
}

.content {
  text-align: justify;
}

.name-headline {
  margin-top: 5%
}

h1 {
  text-transform: uppercase;
}

img {
  width: 180px;
  height: 180px;
  border-radius: 5%;
}

.profile-image {
  margin-top: -100px;
}

/* Contact links */

ul {
  list-style-type: none;
}

li {
  display: inline;
}

.head, .about {
  margin-bottom: 5%;
}

.content {
  padding: 5% 10%;
}

body {
  background: url(assets/above-atmosphere-clouds-flight-37728.jpg) no-repeat center center fixed;
  background-size: cover;
}

.profile-card {
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: rgba(199, 21, 133, .6) 10px 10px 80px;
}

img {
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}

.content {
  border-top: 1px solid #c71585;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(10%);
}

a {
  color: #696969;
}

#linkdin:hover {
  color: #c71585;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#instagram:hover {
  color: #c71585;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

#facebook:hover {
  color: #c71585;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

em {
  color: #696969;
}